.gradient-border {
  background-clip: padding-box;
  border-width: solid 4px transparent;

  @apply relative rounded-lg;

  &:before {
    content: '';
    @apply inset-0 absolute;
    z-index: -1;
    margin: -4px;
    border-radius: inherit; /* !importanté */
    background: linear-gradient(
      to right,
      orange,
      yellow,
      green,
      cyan,
      blue,
      violet
    );
  }
}
