@import '~styles/variables';
@import '~styles/responsive';

.container {
  width: 100%;

  @include for-tablet-landscape-up {
    width: 80%;
  }
}

.contact {
  width: 100%;
  text-align: left;

  label {
    margin: auto;
  }

  input,
  textarea {
    width: 75%;
    max-width: 400px;
    display: block;
    resize: none;
    overflow: auto;
    margin: auto;
    line-height: 1.3em;

    border-top: 2px solid $color_drop_shadow;
    border-left: 2px solid $color_drop_shadow;
    // box-shadow: inset 2px 5px 5px -4px hsla(0, 0, 5%, 1);
    background-color: $color_main;

    // border: none;
    border-radius: 4px;

    // margin-left: 1rem; /* adjust if necessary */
  }

  textarea {
    margin-bottom: 3rem;
  }

  span {
    display: block;
    width: 75%;
    max-width: 400px;
    margin: auto;
  }

  button {
    display: block;
    margin: auto;
    background: linear-gradient(hsl(0, 0, 100%), $color_main);

    width: 50%;
    max-width: 300px;

    border: none;
    box-shadow: 0px 6px hsla(0, 0, 20%, 0.5);
    border-radius: 4px;
    // text-transform: uppercase;
  }

  button:hover {
    box-shadow: 0px 4px $color_drop_shadow;
    background: linear-gradient(hsl(0, 0, 98%), hsl(0, 0, 89%));
    top: 2px;
  }

  button:active {
    box-shadow: 0 0 $color_drop_shadow;
    background: linear-gradient(hsl(0, 0, 94%), hsl(0, 0, 84%));

    top: 6px;
  }
}

#submit {
  margin-bottom: 0;
}
