#contact-form {
  .input-container {
    @apply w-full px-3 block flex flex-col-reverse;

    flex: 1 1 50%;
  }

  label,
  input,
  textarea {
    @apply w-full;
  }

  label {
    @apply relative block uppercase font-medium mb-2 tracking-wide text-xs;
  }

  input,
  textarea,
  button {
    @apply rounded bg-gray-200 shadow-md p-3 mb-3 leading-tight border border-primary-600;
    &::placeholder {
      @apply text-gray-600 text-sm tracking-tight;
    }

    &:focus {
      @apply outline-none bg-gray-100 border-blue-500;
    }
  }

  input,
  textarea {
    @apply w-full;

    &:valid {
      @apply border-green-600;
    }

    &[required] + label::after {
      content: '*';
      @apply absolute text-red-500 p-1 -mt-2;
    }
  }

  textarea {
    height: 6em;
  }

  button {
    &:hover,
    &:focus {
      @apply shadow-xl;
    }

    &:active {
      @apply shadow-sm;
    }
  }

  /* @variants focus {
    input,
    textarea {
    }
  } */
}
