@import '~styles/variables';
@import '~styles/responsive';

.container {
  width: 100%;

  @include for-tablet-landscape-up {
    width: 80%;
  }
}

.contact {
  width: 100%;
  text-align: left;

  label {
    margin: auto;
  }

  input,
  textarea {
    width: 75%;
    max-width: 400px;
    display: block;
    resize: none;
    overflow: auto;
    margin: auto;
    border-top: 2px solid $color_drop_shadow;
    border-left: 2px solid $color_drop_shadow;
    border-radius: 4px;

    // margin-left: 1rem; /* adjust if necessary */
  }

  textarea {
    margin-bottom: 3rem;
  }

  span {
    display: block;
    width: 75%;
    max-width: 400px;
    margin: auto;
  }

  button {
    display: block;
    margin: auto;
    background: linear-gradient(hsl(0, 0, 100%), $color_main);

    width: 50%;
    max-width: 300px;

    border: none;
    box-shadow: 3px 6px 2px $color_drop_shadow;
    border-radius: 4px;
  }

  button:hover {
    box-shadow: 2px 4px 1px $color_drop_shadow;
    background: linear-gradient(hsl(0, 0, 98%), hsl(0, 0, 89%));
    top: 2px;
  }

  button:active {
    box-shadow: 0 0 $color_drop_shadow;
    background: linear-gradient(hsl(0, 0, 94%), hsl(0, 0, 84%));

    top: 6px;
  }
}

#submit {
  margin-bottom: 0;
}
