.gradient-border {
  background-clip: padding-box;
  border-width: solid 1px transparent;

  @apply relative rounded;

  p {
    @apply bg-gray-100 rounded-sm;
  }

  .gradient-background {
    content: '';
    @apply inset-0 absolute;
    z-index: -1;
    margin: -1px;
    border-radius: inherit; /* !importanté */
    filter: brightness(0.9);
    /* background: linear-gradient(
    to left,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background: var(--tag-gradient); */
    /* transform: rotate(90deg); */
  }
}
