/* WordPress Core Block Styling */
.wp-blocks {
  * {
    @apply mt-8;
  }

  a {
    @apply text-blue-600;
  }

  /* Block: Headings  ------------------------- */

  h1 {
    @apply text-4xl leading-none;
  }

  h2 {
    @apply text-3xl leading-snug;
  }

  h3 {
    @apply text-2xl leading-normal;
  }

  h4 {
    @apply text-xl leading-normal;
  }

  h5 {
    @apply text-lg leading-normal;
  }
  h6 {
    @apply font-bold leading-normal;
  }

  /* Block: Image  ------------------------- */
  .wp-block-image {
    @apply block;
  }
  .aligncenter img {
    @apply mx-auto;
  }

  .alignright {
    @apply float-right;
  }

  .alightleft {
    @apply float-left;
  }

  .is-style-circle-mask figure img {
    @apply rounded-full;
  }

  /* Block: Paragraph  ------------------------- */

  .has-drop-cap::first-letter {
    @apply font-serif text-primary-600 float-left leading-8 text-6xl;
    /* font-size: 75px; */
    /* line-height: 60px; */
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;

    @supports (initial-letter: 4) or (-webkit-initial-letter: 4) {
      initial-letter: 4;
      -webkit-initial-letter: 4;
      font-size: unset;
      @apply float-none leading-normal p-0;
    }
  }

  .has-small-font-size {
    @apply text-sm;
  }

  .has-normal-font-size {
    @apply text-base;
  }

  .has-medium-font-size {
    @apply text-lg;
  }

  .has-large-font-size {
    @apply text-3xl;
  }

  .has-huge-font-size {
    @apply text-4xl;
  }

  /* Block: Separator  ------------------------- */

  hr.wp-block-separator {
    @apply m-6 border-pink-500;

    &:not(.is-style-wide) {
      @apply max-w-xs mx-auto;
    }

    &.is-style-dots {
      @apply border-0 max-w-none leading-none h-auto text-center;

      &::before {
        @apply font-serif text-pink-500 text-2xl;
        content: '\00b7 \00b7 \00b7';
        letter-spacing: 2em;
        padding-left: 2em;
      }
    }
  }

  /* Block: Quote  ------------------------- */

  blockquote {
    @apply my-8 px-8 border-l-2 border-orange-600;

    p {
      @apply italic;
    }

    &.is-style-large {
      @apply border-none relative;
      p {
        @apply text-2xl;
      }

      p:before {
        content: '❝';
        @apply text-teal-600 absolute leading-none;
        font-size: 6rem;
        top: -1rem;
        left: -1rem;
      }
    }
    cite {
      @apply text-sm text-gray-600 block;
    }
    @screen md {
      @apply my-12 px-12;
    }
  }
}
