---
import BaseLayout from '../layouts/BaseLayout.astro';
import BaseHead from '../components/BaseHead.astro';
import { getEmDashEntry, getSiteSettings } from 'emdash';
import { Image as EmDashImage, PortableText } from 'emdash/ui';

const { entry: homePage, cacheHint } = await getEmDashEntry('pages', 'home');
const siteSettings = await getSiteSettings();
const siteTitle = siteSettings.title ?? 'Site';
const siteDescription = siteSettings.tagline ?? '';

if (!homePage) {
	return Astro.redirect('/404');
}

Astro.cache.set(cacheHint);
---

<BaseLayout>
	<BaseHead slot="head" title={siteTitle} description={siteDescription} />
	<section
		class="floating p-1 pt-8 md:p-8 flex flex-col md:flex-row-reverse items-center justify-between"
	>
		{
			homePage.data.hero_image && (
				<figure class="flex sm:w-1/2 md:w-4/12 overflow-hidden w-4/5 rounded-full shadow-lg">
					<EmDashImage image={homePage.data.hero_image} />
				</figure>
			)
		}
		<div class="prose md:w-7/12 m-6">
			<PortableText value={homePage.data.body ?? []} />
		</div>
	</section>
</BaseLayout>
