---
const menuItems = [
	{
		label: 'Home',
		title: 'Home',
		url: '/',
	},
	{
		label: 'Blog',
		title: 'Blog',
		url: '/blog',
	},
];

const currentPath = Astro.url.pathname;
---

<nav>
	<ul
		class="m-0 flex flex-wrap flex-row justify-center items-center md:justify-end px-10 pt-4"
	>
		{
			menuItems?.map(({ label, title, url }) => {
				const isActive =
					currentPath === url || (url !== '/' && currentPath.startsWith(url));
				return (
					<li class="group list-none m-1">
						<a
							class:list={[
								'inline-block mx-2 p-1 text-2xl uppercase drop-shadow-xl group-hover:text-pink-600 group-hover:-translate-y-1 group-hover:ease-in',
								isActive
									? 'active-links text-pink-600 relative content-box'
									: 'text-blue-600',
							]}
							title={title}
							href={url}
						>
							{label}
						</a>
					</li>
				);
			})
		}
	</ul>
</nav>

<style>
	@reference '#styles';

	nav {
		a.active-links {
			&::after {
				@apply border-b-4 border-blue-500 w-full absolute left-0 bottom-0;
				content: '';
			}
		}

		@media (hover: hover) {
			a {
				@apply transform transition-transform duration-100 ease-out;
			}
		}
	}
</style>
