---
export type Props = {
	title: string;
	url: string;
	primaryColor: string;
	textColor: string;
};

const { title, url, primaryColor, textColor } = Astro.props;
---

<a
	href={url}
	class="m-2 p-2 rounded inline-block mb-2 shadow-lg"
	style={{ color: textColor, 'background-color': primaryColor }}
>
	{title}
</a>
