---
export type Props = {
	title: string;
	url: string;
	primaryColor: string;
	textColor: string;
	class?: string;
};

const { title, url, primaryColor, textColor } = Astro.props;
---

<a
	href={url}
	class:list={['m-2 p-2 rounded', Astro.props.class]}
	style={{ color: textColor, 'background-color': primaryColor }}
	target="_blank"
>
	{title}
</a>
