---
import { getDataEntryById } from 'astro:content';
import { getRandomInt } from '../utils';

type Props = {
	tag: {
		id: string;
	};
};

const { tag, ...props } = Astro.props;

const tagData =
	tag.id == 'none'
		? { id: '', data: { name: 'None!' } }
		: await getDataEntryById('tags', tag.id);
---

<a href={`/tag/${tagData.id}`}>
	<div class="gradient-border relative rounded z-10">
		{/* eslint-disable-next-line react/jsx-props-no-spreading */}
		<p class="tag capitalize px-1 bg-gray-100 rounded-sm" {...props}>
			{tagData.data.name}
		</p>
		<div
			class="inset-0 absolute"
			style={{
				content: '',
				zIndex: '-1',
				margin: '-1px',
				borderRadius: 'inherit',
				filter: 'brightness(0.9)',
				background: `linear-gradient(
				${getRandomInt(360, 20)}deg,
				orange,
				yellow,
				green,
				cyan,
				indigo,
				violet`,
			}}
		>
		</div>
	</div>
</a>
