---
import { getEntry } from 'astro:content';

type Props = {
	tag: {
		id: string;
	};
};

const { tag, ...props } = Astro.props;

const tagData =
	tag.id == 'none'
		? { id: '', data: { name: 'None!' } }
		: await getEntry('tags', tag.id);

// Random rotation for rainbow gradient
const rotation = Math.floor(Math.random() * 18) * 20; // 0, 20, 40, ... 340
---

{
	tagData && (
		<a
			href={`/tag/${tagData.id}`}
			class="rainbow-tag"
			style={`--rotation: ${rotation}deg`}
		>
			{/* eslint-disable-next-line react/jsx-props-no-spreading */}
			<span class="tag-content capitalize px-1" {...props}>
				{tagData.data.name}
			</span>
		</a>
	)
}

<style>
	.rainbow-tag {
		display: inline-block;
		padding: 1px;
		border-radius: 0.1875rem; /* 3px */
		background: conic-gradient(
			from var(--rotation, 0deg),
			hsl(0, 90%, 45%) 0deg,
			hsl(30, 90%, 45%) 51.43deg,
			hsl(60, 90%, 45%) 102.86deg,
			hsl(120, 90%, 45%) 154.29deg,
			hsl(180, 90%, 45%) 205.71deg,
			hsl(240, 90%, 45%) 257.14deg,
			hsl(280, 90%, 45%) 308.57deg,
			hsl(0, 90%, 45%) 360deg
		);
	}

	.tag-content {
		display: block;
		background: #f3f4f6;
		border-radius: 0.125rem; /* 2px */
	}
</style>
