---
import { TagIcon } from 'astro-feather';
import WpTag from './Tag.astro';

export type Props = {
	tags:
		| {
				collection: 'tags';
				id: string;
		  }[]
		| undefined;
};

const { tags } = Astro.props;
---

<div class="inline-flex flex-wrap items-center box-border gap-2">
	<TagIcon aria-hidden customClasses="inline-block text-xl" />
	{
		tags && tags.length > 0 ? (
			tags.map((tag) => (
				<span class="">
					<WpTag aria-label="Post Tags" {tag} />
				</span>
			))
		) : (
			<span class="">
				<WpTag tag={{ id: 'none' }} />
			</span>
		)
	}
</div>
