---
import { TagIcon } from 'astro-feather';
import WpTag from './Tag.astro';

export type Props = {
	tags:
		| {
				collection: 'tags';
				id: string;
		  }[]
		| undefined;
};

const { tags } = Astro.props;
---

<TagIcon aria-hidden customClasses="inline-block text-xl" />
<div class="inline-flex items-center box-border">
	{
		tags && tags.length > 0 ? (
			tags.map((tag) => (
				<span class="ml-2">
					<WpTag aria-label="Post Tags" {tag} />
				</span>
			))
		) : (
			<WpTag tag={{ id: 'none' }} />
		)
	}
</div>
